@import '@/app/mixins.scss';

.login {
    background-image: url('../../../assets/bgs/login_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;

    .login__box-content {
        @include absolute-center;
        background-color: var(--white-smoke);
        width: 400px;
        height: fit-content;
        border-radius: 0.5rem;
        overflow: hidden;

        // direction - justify content - align items - flex wrap
        @include dflex(column, center, center, nowrap);
    }
}