@import '@/app/mixins.scss';

.common-button {
    outline: none;
    transition: 0.2s ease-in-out;
    // Default
    background-color: var(--white-smoke);
    color: var(--dark);
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    font-weight: 600;
    font-size: 0.75rem;
    cursor: pointer;

    &.fill {
        &:hover {
            background-color: var(--soft-peach);
            border-color: var(--soft-peach);
        }
    }

    &.onlyChildren {
        background-color: transparent;
        border: none;
        color: white;
    }

    &.onlyBorder {
        background-color: transparent;
        border: 1px solid white;
        color: white;

        &:hover {
            background-color: var(--white-smoke);
            color: var(--dark);
        }
    }

    &.modern-fill {
        background-color: var(--chardonnay);
        border-color: var(--chardonnay);
        color: var(--dark);
        border-radius: 0;

        &:hover {
            background-color: var(--saffron-mango);
            border-color: var(--saffron-mango);
        }
    }

    &.modern-onlyBorder {
        background-color: transparent;
        border-color: var(--dark);
        color: var(--dark);
        border-radius: 0;

        &:hover {
            background-color: var(--saffron-mango);
            border-color: var(--saffron-mango);
            color: var(--dark);
        }
    }

    &.none {
        background-color: transparent;
        border-color: transparent;
        color: inherit;
    }
}