@import '@/app/mixins.scss';

$header-height: 70px;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background-color: var(--dark);
    padding: 0 20px;
    @include dflex(row, space-between, center, nowrap);
    gap: 2rem;
    z-index: 9;
}

.logo {
    height: $header-height;

    img {
        width: auto;
        height: 100%;
    }
}

nav ul {
    width: fit-content;
    @include dflex(row, flex-end, center, nowrap);
    gap: 1.5rem;

    .nav__item--link {
        font-size: 0.75rem;
        color: white;
        font-weight: 500;
        transition: all 0.2s ease-in-out;

        i {
            margin-right: 8px;
            font-size: 0.7rem;
            bottom: -1px;
        }

        &:hover {
            color: rgb(161, 161, 161);
        }
    }

    .user {
        @include dflex(row, flex-end, center, nowrap);
        gap: 10px;

        .user__rank {
            @include dflex(row, flex-end, center, nowrap);
        }

        .user__avatar {

            @include dflex(row, flex-end, center, nowrap);

            img {
                border-radius: 50%;
                overflow: hidden;
            }
        }
    }

    .login-button {
        height: 40px;
    }
}