@import '../../app/mixins.scss';

.common-button {
    outline: none;
    transition: 0.2s ease-in-out;
    // Default
    background-color: white;
    color: var(--dark);
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    font-weight: 600;
    font-size: 0.75rem;
    cursor: pointer;

    &.fill {
        &:hover {
            background-color: var(--soft-peach);
            border-color: var(--soft-peach);
        }
    }

    &.onlyChildren {
        background-color: transparent;
        border: none;
        color: white;
    }

    &.onlyBorder {
        background-color: transparent;
        border: 1px solid white;
        color: white;

        &:hover {
            background-color: white;
            color: var(--dark);
        }
    }

    &.modern-fill {
        background-color: red;
        border-color: red;
        color: white;
        border-radius: 0;

        &:hover {
            background-color: var(--guardsman-red);
            border-color: var(--guardsman-red);
        }
    }

    &.modern-onlyBorder {
        background-color: transparent;
        border-color: red;
        color: red;
        border-radius: 0;

        &:hover {
            background-color: var(--light-red);
            border-color: var(--light-red);
            color: white;
        }
    }

    &.none {
        background-color: transparent;
        border-color: transparent;
        color: inherit;
    }
}

.nav-dropdown {
    width: fit-content;
    height: 100%;
    position: relative;
    // direction - justify content - align items - flex wrap
    @include dflex(row, center, center, nowrap);

    .nav-dropdown__trigger {
        width: 100%;
        height: 100%;
        // border - border radius - background color - color - padding - font size
        @include normal-btn(none, 5px, transparent, white, 0, 0.8rem);

        &>* {
            // direction - justify content - align items - flex wrap
            @include dflex(row, center, center, nowrap);
            font-weight: 500;
            font-size: 0.75rem;

            img {
                margin-right: 8px;
            }

            i {
                margin-left: 8px;
            }
        }

        &:hover {
            color: var(--soft-peach);
        }
    }

    .nav-dropdown__content {
        background-color: white;
        position: absolute;
        top: calc(100% + 12px);
        right: 0;
        z-index: 10;
        border-radius: 5px;
        width: 100%;
        height: 100px;
        box-shadow: 0px 13px 15px 0px rgba(0, 0, 0, 0.1);
        // direction - justify content - align items - flex wrap
        @include dflex(column, flex-start, center, nowrap);

        height: 0;
        overflow: hidden;
        pointer-events: none;

        button {
            width: 100%;
            height: 50px;
            cursor: pointer;
            transition: all 0.1s ease-in-out;

            &,
            p {
                font-weight: 500;
                font-size: 0.7rem;
            }

            &:hover {
                background-color: var(--soft-peach);
            }
        }
    }

    &.active {
        .nav-dropdown__content {
            height: fit-content;
            pointer-events: all;
        }
    }
}

.simple-loader {
    $border-left-color_1: transparent;

    border: 4px solid rgba(255, 255, 255, 0.5);
    border-left-color: $border-left-color_1;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-left-color: $border-left-color_1;
    width: 36px;
    height: 36px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-left-color: $border-left-color_1;
    width: 36px;
    height: 36px;
    animation: spin89345 1s linear infinite;

    @keyframes spin89345 {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

.cart-button {
    cursor: pointer;
    font-size: 1rem;
}