@import '@/app/mixins.scss';

.checkbox {
    width: fit-content;
    position: relative;
    // direction - justify content - align items - flex wrap
    @include dflex(row, flex-start, center, nowrap);
    cursor: pointer;

    * {
        pointer-events: none;
    }

    input {
        display: none;
    }

    input[type='radio'] {
        display: block;
    }

    .checkbox__mark {
        position: relative;
        width: 15px;
        height: 15px;
        border: 1px solid var(--verdigris);
        background-color: var(--white-smoke);

        i {
            position: absolute;
            font-size: 10px;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
        }
    }

    label {
        font-size: 0.75rem;
        font-weight: 500;
        margin-left: 10px;
        cursor: pointer;
        pointer-events: none;
        user-select: none;
        @include limit-line(1)
    }

    &:hover {
        .checkbox__mark {
            border-color: var(--charcoa-grey);
            background-color: var(-gainsboro);
        }

        label {
            font-weight: 600;
        }
    }

    &.active {
        .checkbox__mark {
            border-color: var(--saffron-mango);
            background-color: var(--saffron-mango);
            color: white;

            i {
                display: block;
            }
        }

        label {
            font-weight: 600;
            color: var(--saffron-mango);
        }
    }
}