@import '@globalStyles/mixins.scss';

.me-wrapper {
    width: 100%;
    height: fit-content;

    .breadcrumb__container {
        margin: 1rem 0;
    }

    .me {
        background-color: white;
        // columns - row - gap
        @include dgrid(auto 1fr, auto, 0);
        padding: 2rem 1rem;

        .me__tabs {
            border-right: 1px solid var(--verdigris);
            width: fit-content;
            height: 100%;
            padding-right: 1.25rem;

            ul {
                // direction - justify content - align items - flex wrap
                @include dflex(column, flex-start, flex-start, nowrap);
                gap: 15px;
                grid-column: 1;

                li {
                    width: 100%;
                    height: fit-content;

                    button {
                        i {
                            margin-right: 8px;
                            opacity: 0.7;
                        }

                        text-align: left;
                        font-weight: 500;
                        opacity: 0.7;

                        &:hover {
                            color: var(--saffron-mango);
                            opacity: 1;
                        }
                    }

                    &.active {
                        button {
                            font-weight: 600;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .me__content {
            grid-column: 2;
            margin-left: 1.75rem;
        }
    }
}